<section>
    <h1>{{cat()?.name}}</h1>
    @if (authService.isAuthenticated()){
    <button type="button" class="post-photo-button" (click)="router.navigate([`/upload`, cat()?.id]);">Post new
        photo</button>
    }
    <div class="photos-grid">
        @for (photo of photos(); track photo){
        <article class="photo-card">

            <form class="photo-edit-form" [formGroup]="editPhotoForm" (ngSubmit)="editPhoto(photo)">
                <header class="photo-header">
                    <h2>{{photo.title}}</h2>
                </header>

                <div class="photo-content">
                    <div class="image-container">
                        <img [src]="photosUrls.get(photo.id)" alt="Cat" />
                    </div>
                    <div class="description-container">

                        @if (showPhotoEditor() !== photo.id){
                        <quill-view [content]="createQuillElement(photo.description)"></quill-view>
                        } @else {
                        <quill-editor formControlName="description" id="descr" class="descr-input"
                            placeholder="Enter photo description..."></quill-editor>
                        }
                    </div>
                </div>

                @if (authService.isAuthenticated() && verifyPhotoUploader(photo)){
                <div class="photo-actions">
                    @if (showPhotoEditor() !== photo.id){
                    <button type="button" class="edit-cat-photo" (click)="showPhotoEditor.set(photo.id)">Edit
                        Photo</button>
                    <button type="button" class="delete-cat-photo" (click)="deletePhoto(photo)">Delete Photo</button>
                    } @else {
                    <button type="submit" class="edit-photo-submit">Submit</button>
                    <button type="button" class="edit-photo-cancel" (click)="showPhotoEditor.set(-1)">Cancel</button>
                    }
                </div>
                }

            </form>

            <div class="comment-section">
                <ul class="comments-list">
                    @for (comment of getCommentsForPhoto(photo.id); track comment){
                    <li class="comment-item">
                        <p class="comment-author">{{comment.uploader}}</p>
                        @if (showCommentEditor() !== comment.id) {
                        <quill-view class="comment-text" [content]="createQuillElement(comment.text)"></quill-view>
                        @if (authService.isAuthenticated() && verifyCommentUploader(comment)){
                        <div class="comment-actions">
                            <button type="button" class="edit-comment-button"
                                (click)="showCommentEditor.set(comment.id)">Edit</button>
                            <button type="button" class="delete-comment-button"
                                (click)="deleteComment(photo, comment)">Delete</button>
                        </div>
                        }
                        } @else {
                        <form class="comment-form" [formGroup]="editCommentForm"
                            (ngSubmit)="editComment(photo, comment)">
                            <quill-editor formControlName="comment"
                                [placeholder]="createQuillElement(comment.text)"></quill-editor>
                            <div class="edit-comment-actions">
                                <button type="submit" class="comment-submit">Submit</button>
                                <button type="button" class="edit-comment-cancel"
                                    (click)="showCommentEditor.set(-1)">Cancel</button>
                            </div>
                        </form>
                        }

                    </li>
                    }
                </ul>

                @if (authService.isAuthenticated()){
                <form class="comment-form" [formGroup]="commentForm" (ngSubmit)="postComment(photo.id)">
                    <quill-editor formControlName="comment" placeholder="Add a comment..."></quill-editor>
                    <button type="submit" class="comment-submit">Post Comment</button>
                </form>
                }

            </div>


        </article>
        }
    </div>

    @if (authService.isAuthenticated() && verifyCatUploader()){
    <button type="button" class="delete-cat-button" (click)="deleteCat()">Delete Cat</button>
    }
</section>