div.app {
    height: 100vh;
    background-color: #1a202c;
    display: flex;
    flex-direction: column;

    .navbar {
        margin-bottom: 5rem;
    }

    main.main {
        flex-grow: 1;
        overflow: auto;
    }
}