@use '../../../styles' as *;

section.auth-section {
    @include flexColumn();
    width: 100%;

    h1.auth-title {
        @include formTitle();
    }

    form.auth-form {
        flex-grow: 1;
        padding: 1rem;
        background-color: $form-bg-color;
        border: 1px solid;
        border-radius: 0.5rem;

        @include flexColumn();


        div {
            @include flexColumn();
            width: 100%;

            label.auth-label {
                font-size: 1.125rem;
                font-weight: $semibold;
                color: whitesmoke;
                margin-bottom: 0.5rem;
            }

            input.auth-input {
                width: 100%;
                max-width: 100%;
                min-width: 20rem;
                background-color: whitesmoke;
                border: 1px solid;
                border-radius: 0.5rem;
                color: black;
            }

            div.auth-error {
                min-height: 10px;

                p.form-error {
                    color: red;
                    font-size: small;
                }
            }
        }

        button.auth-submit {
            margin-top: 1.25rem;
            color: white;
            font-weight: bold;
            padding: 0.5rem;
            border-radius: 0.375rem;
            background-color: teal;

            &:hover {
                background-color: $button-hover-bg-color;
            }
        }
    }

    @media (max-width: 768px) {

        padding: 0.25rem;
        max-width: 100%;
        min-width: 50%;

        form.auth-form {
            padding: 0.5rem;
            
            input.auth-input {
                min-width: 0;
                font-size: 16px;
            }
        }

   }
}