@use '../../styles' as *;

section.upload-section {
    @include flexColumn();

    h1.upload-title {
        @include formTitle();
    }

    form.upload-form {
        flex-grow: 1;
        padding: 1rem;
        background-color: $form-bg-color;
        border: 1px solid;
        border-radius: 0.5rem;
        width: 100%;
        max-width: 50rem;
        margin-bottom: 2.5rem;

        @include flexColumn(stretch);

        div {
            @include flexColumn(stretch);
            margin-bottom: 1rem;

            h2 {
                font-size: 1.5rem;
                font-weight: $semibold;
                color: whitesmoke;
                margin-bottom: 0.5rem;
            }

            label.upload-label {
                font-size: 1.5rem;
                font-weight: $semibold;
                color: whitesmoke;
            }

            input,
            quill-editor {
                width: 100%;
                background-color: whitesmoke;
                border: 2px solid darkgray;
                border-radius: 0.5rem;
                color: black;
            }

            input.file-input {
                max-width: 300px;
                max-height: 40px;
                padding: 0.5rem;

                &:hover {
                    background-color: darkgray;
                }
            }
        }

        button.upload-submit {
            margin-top: 1.25rem;
            color: white;
            font-weight: bold;
            padding: 0.5rem;
            border-radius: 0.5rem;
            background-color: teal;

            &:hover {
                background-color: $button-hover-bg-color;
            }
        }
    }

}