@use '../../styles' as *;

div.map-container{
    @include flexColumn();

    .leaflet {
        flex-grow: 1;
        width: 100%;
        max-width: 50rem;
        height: auto;
        min-height: 30rem;
        border-radius: 0.5rem;
        padding: 1rem;
        margin-bottom: 0.5rem;
    }

    button {
        border-radius: 0.375rem;
        padding: 0.5rem;
        border: 1px solid;
        color: white;
        background-color: transparent;

        &:hover {
            background-color: darkgrey;
        }
    }
}