@use '../../styles' as *;

section {
    @include flexColumn();

    div.hero {
        text-align: center;
        color: white;
        padding: 0.5rem;

        h1 {
            font-size: 2.25rem;
            font-weight: bold;
            margin-bottom: 0.5rem;
        }

        h2 {
            font-size: 1.5rem;
            margin-bottom: 0.5rem;
        }
    }

    .map-component {
        flex-grow: 1;
        width: 100%;
        height: auto;
        padding: 1rem;
    }
}