/* You can add global styles to this file, and also import other style files */
@use 'tailwindcss';
@use 'ngx-toastr/toastr';

$form-bg-color: #2d3748;
$button-hover-bg-color: #115e59;
$semibold: 600;

@mixin flexColumn($align: center, $justify: center) {
    display: flex;
    flex-direction: column;
    align-items: $align;
    justify-content: $justify;
}

@mixin formTitle() {
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 2.5rem;
}