/* You can add global styles to this file, and also import other style files */
@use 'tailwindcss';
@use 'ngx-toastr/toastr';

@tailwind base;
@tailwind components;
@tailwind utilities;

.toast-success {
  background-color: #0fc396;
}
.toast-error {
  background-color: #BD362F;
}
.toast-info {
  background-color: #2F96B4;
}
.toast-warning {
  background-color: #F89406;
}

a.link {
  @apply underline text-teal-400 hover:text-teal-700 visited:text-blue-400 visited:hover:text-blue-700;
}

.form-error{
  @apply text-red-400 text-sm pt-2;
}

section.auth-section {
  @apply bg-gray-900 h-full;

  div.first {
    @apply flex flex-col items-center justify-center px-6 py-8 mx-auto h-full;
    
    div.second {
      @apply w-full bg-gray-800 rounded-lg shadow border md:mt-0 sm:max-w-md xl:p-0 border-gray-700;

      div.third {
        @apply p-6 space-y-4 md:space-y-6 sm:p-8;
      }
    }
  }
}

h1.auth-title {
  @apply text-xl font-bold leading-tight tracking-tight text-white md:text-2xl;
}

form.auth-form {
  @apply space-y-4 md:space-y-6;
    
  label.auth-label {
    @apply block mb-2 text-sm font-medium text-white;
  }

  input.auth-input {
    @apply bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5;
  }

  button.auth-submit {
    @apply w-full text-white bg-teal-700 hover:bg-teal-800 rounded-lg text-sm px-5 py-2.5 text-center;
  }
}