<section class="auth-section">
  <div class="first">
    <div class="second">
        <div class="third">
            <h1 class="auth-title">
                Create an account
            </h1>
            <form class="auth-form" [formGroup]="signupForm" (ngSubmit)="handleSignup()">
                <div>
                    <label for="user" class="auth-label">Email</label>
                    <input type="text" formControlName="user" id="user" class="auth-input" placeholder="example@domain.com" required="">
                    @if(submitted && signupForm.controls.user.errors){
                      @if(signupForm.controls.user.errors['required']){
                        <p class="form-error">Email is required.</p>
                      }
                      @if(signupForm.controls.user.errors['email']){
                        <p class="form-error">Please enter a valid email address.</p>
                      }
                    }
                  </div>
                  <div>
                    <label for="pass" class="auth-label">Password</label>
                    <input type="password" formControlName="password" id="pass" placeholder="••••••••" class="auth-input" required="">
                    @if(submitted && signupForm.controls.password.errors){
                      @if(signupForm.controls.password.errors['required']){
                        <p class="form-error">Password is required.</p>
                      }
                      @if(signupForm.controls.password.errors['minlength']){
                        <p class="form-error">Password should contain at least 8 characters</p>
                      }
                    }
                  </div>
                <button type="submit" class="auth-submit">Sign up</button>
            </form>
        </div>
      </div>
  </div>
</section>